services:
  bot:
    build: .
    container_name: brain-rot-bot
    restart: always
    env_file:
      - .env
    environment:
      - FFMPEG_PATH=/usr/bin/ffmpeg
      - CHROMEDRIVER_PATH=/usr/bin/chromedriver
    volumes:
      - /home/gabi/github/Discord-Brain-Rot/Sounds:/app/Sounds
      - /home/gabi/github/Discord-Brain-Rot/Data:/app/Data
      - /home/gabi/github/Discord-Brain-Rot/Downloads:/app/Downloads
      - /home/gabi/github/Discord-Brain-Rot/Logs:/app/Logs
      - /home/gabi/github/Discord-Brain-Rot/database.db:/app/database.db
    command: python PersonalGreeter.py

  web:
    build: .
    container_name: brain-rot-web
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - /home/gabi/github/Discord-Brain-Rot/database.db:/app/database.db
      - /home/gabi/github/Discord-Brain-Rot/templates:/app/templates
      - /home/gabi/github/Discord-Brain-Rot/static:/app/static
    command: python WebPage.py

  runner:
    image: myoung34/github-runner:latest
    container_name: brain-rot-runner
    restart: always
    environment:
      - REPO_URL=https://github.com/GabrielAgrela/Discord-Brain-Rot
      - RUNNER_NAME=brain-rot-docker-runner
      - RUNNER_WORKDIR=/tmp/github-runner-work
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/gabi/github/Discord-Brain-Rot/actions-runner:/app/actions-runner
      - /home/gabi/github/Discord-Brain-Rot/.env:/app/.env:ro
