name: Test Runner

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    
    steps:
    - name: Simple test
      run: |
        echo "Hello from runner!"
        pwd
        whoami
        date 